<div class="alert alert-light">
  <p><%= @question %></p>
  <p class="fst-italic">-You</p>
</div>

<div class="alert alert-warning">
<p><%= @answer %></p>
<p class="fst-italic">-Coach</p>
</div>
<%= link_to "Ask a new question", ask_path, class:"text-decoration-none" %>
