
<p>Ask your coach anything:</p>
<form action="/answer" data-turbo="false" class="input-group mb-3">
  <input type="text" class="form-control" name="question" aria-describedby="button-addon2">
  <input type="submit" class="btn btn-outline-secondary btn-primary text-white fw-bold" value="Ask" id="button-addon2">
</form>
